.languages {
  margin-bottom: 2rem;
  
  h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    color: var(--text-dark);
    border-bottom: 3px solid var(--primary-color);
    padding-bottom: 0.8rem;
    display: inline-block;
  }
  
  .language-list {
    font-size: 0.95rem;
    line-height: 2;
    color: var(--text-light);
    font-weight: 500;
    
    .language-item {
      margin-right: 0.5rem;
    }
  }
}
